<div class="container">
  <div class="login-body row">
    <div class="login-display col-md-6">
      <h1>Login</h1>
    </div>
    <div class="login-form col-md-6 col-sm-12">
      <form action="#">
        <div class='form-elems'>
          <input type="text" value='Username' class='fields'>
        </div>
        <div class='form-elems'> 
          <input type="text" value="Password" class='fields'>
        </div>
        <div class='form-elems submits'>
          <a href="#">Sign In</a>
          <a routerLink='/register'>Sign Up</a>
        </div>
        <br>
        <div class='form-elems'>
          <a href="#" class='fpassword'>Forgot Password?</a>
        </div>
      </form>
    </div>
  </div>
</div>